# App
APP_URL=
NEXT_PUBLIC_APP_URL=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database
DATABASE_URL=

# Redis Cloud / Redis TCP
REDIS_URL=redis://default:PASSWORD@HOST:PORT

# Instagram
...

# Facebook
...

# Threads
...

# TikTok
...

# X
...

# LinkedIn
...

# YouTube
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=

# Pinterest
...

# ...
